<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Here is a sample showing fetched data by table</h2>

<ag-grid-angular
  style="height: 1000px;"
  class="ag-theme-balham"
  [enableSorting]="true"
  [enableFilter]="true"
  [animateRows]="true"
  [groupMultiAutoColumn]="true"
  [enableRangeSelection]="true"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [modules]="modules"
  [pinnedBottomRowData]="pinnedBottomRowData"
  (firstDataRendered)="onFirstDataRendered($event)"
  (gridReady)="onGridReady($event)">
</ag-grid-angular>


<router-outlet></router-outlet>
